/* 
    Table of Content
        1.Common CSS
        2.Common Clases
        3.CSS for header
        4.CSS for footer
        5.CSS for form
 */
/* 
 1.Common CSS */
 @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rancho&family=Redressed&display=swap');
 /* Some common CSS */
 html {
     box-sizing:border-box; /* allow width and height to include everything up until the border */
   }
   *, *::before, *::after {
     box-sizing:inherit;
   }
 body{
     font-family: 'Raleway', sans-serif;   
     line-height: 1.2;
     color:black;
 }
 h1,h2,h3,h4{
     font-family: 'Redressed', cursive;
 }
 h1{
     font-size: 5em;
 }
 h2{
     font-size: 2em;
 }
 h3{
     font-size: 1.75em;
 }
 h4{
     font-size: 1.35em;
 }
 a{
     text-decoration: none;
     color: black;
 }
 a:hover{
     color:#c7884b; 
     text-decoration: underline;
 }
 /* 2.Common Clases */
 /* This two classes are common and can be used many times so. */
 .page-container{
     max-width: 1200px;
     margin:0 auto;
 }
 .hidden {
     position:absolute;
     left:-10000px;
     width:1px;
     height:1px;
 }
 /* 3.CSS for header */
 /* Css for the Header of the page */
 header{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .logo{
     padding:1em;
 }
 
 .logo img{
     height: 100px;
     width:130px;
 }
 .main-menu{
     font-size: 1.35em;
 }
 .main-menu{
     list-style: none;
     display: flex;
     padding:1em;
 }
 .main-menu li {
     padding-right: 1em;
 }
 
 .sub-menu{
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     list-style: none;
     padding-left:0.5em;
 }
 .sub-menu li{
     padding-top:1em;
 }
 .sub-menu li:last-child{
     padding-bottom:1em;
 }
 .dropdown:hover .sub-menu{
     display: block;
 }
 
 /* 4.CSS for footer */
 /* CSS for the Footer of page */
 footer{
     font-family: 'Raleway', sans-serif;
     margin-top:1em;
     background-color:rgba(172, 168, 168,0.3) ;
 }
 #footer{
     margin-top: 8em;
 }
 footer h3,h4{
     font-family: 'Raleway', sans-serif;
 }
 .footer{
     margin-top: 2em;
     display: grid;
     grid-template-columns:1fr 1fr 1fr ;
     grid-gap: 3em;
    padding-bottom: 1.5em;
 }
 .footer ul{
     list-style: none;
     padding-right: 0;
 }
 
 
 .footer-logo{
     text-align: center;
     padding-top:1.3em;
     padding-left: 1em;
 }
 .footer-logo img{
     height: 130px;
     width:150px;
 }
 
 
 .footer-contact{
     margin-top:-2em; 
     padding:2em;
     background-color: #c7884b;
     border-radius: 5px;
     z-index: 2;
 }
 .footer-contact-container{
     display: flex;
     margin-bottom: 1em;
 }
 .footer-contact-container h3,h4{
     margin: 0;
 }
 .footer-contact-container a:hover{
     color:white; 
     text-decoration: underline;
 }
 .contact-details{
     padding-left: 4em;
 }
 .contact-details h3{
     font-size: 1.35em;
 }
 .contact-details h4{
     font-size: 1em;
 }
 .social-icons{
     display: flex;
     justify-content: center;
 }
 .social-icons a{
     padding:1em;
 }
 .icons{
     width: 30px;
     height: 30px;
 }
 
 
 .subscription-form{
     display: flex;
 }
 .subscription-form input{
     padding: 1em;
 }

 
 .subscription-form button{
     background-color: #c7884b;
     border-color: #c7884b;
 }
 .subscription-form img{
     width: 30px;
 }
 
 
 .line{
     margin-left: 1em;
     margin-right: 1em;
     height: 2px;
     background-color: #c7884b;
 }
 
 
 .bottom-footer{
     display: flex;
     justify-content: space-between;
     padding:1.5em;
     align-items: center;
 }
 .bottom-footer p{
     margin: 0;
 }
 .sperator{
     font-weight: bolder;
 }
 .bottom-menu{
     list-style: none;
     display: flex;
     padding:1em;
 }
 .bottom-menu li {
     padding-right: 1em;
 }

 /* 5.CSS for form */
 .form{
     margin:0 auto;
     width: 768px;
     border-radius: 5px;
     border: 2px solid #c7884b;
     padding:1em;
}
.form-heading{
     text-align: center;
}
.form-heading h2{
     margin:0;
}
 .form-heading p{
     margin: 0;
}
 .form-element-wrapper{
     display: flex;
     justify-content: space-between;
     margin:0 auto;
     padding-top:1em;
}
 .individual-element{
    margin-top: 1em;
}
label{
    font-weight: bold;
}
input,select{
   display: block;
   padding: 0.7em;
   width: 300px;
}
 textarea{
     display: block;
     width: 100%;
}
 input[type=radio],input[type=checkbox]{
    display: inline;
    width: auto;
}
.submit-section{
    text-align: center;
    padding-top:1em;
}
.submit-Button{
    text-transform: uppercase;
    padding: 1em;
    border-radius: 5px;
    background-color: #9ad82f;
    font-weight: bold;
    border: 1px solid #9ad82f;
}
.submit-Button:hover{
    color:  white;
    
}